* {
  margin: 0px;
  padding: 0px;
}
html {
  text-align: center;
  color: #cccccc;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.5px;
  background-color: #212530;
  scroll-behavior: smooth;
}

header {
  height: 170px;
  padding-top: 6px;
  background-color: rgba(0, 0, 0, 0.308);
  margin-bottom: 0px;
}
#circle-logo {
  margin-left: auto;
  margin-right: auto;

  width: 130px;
  height: 130px;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.356) 20%,
    rgba(0, 0, 0, 0.719) 89%
  );
  border-radius: 50%;
}
#circle-logo img {
  width: 130px;
}
nav ul {
  padding-top: 10px;
}
nav li {
  display: inline-block;
  margin: 2px;
}
nav a {
  color: #ffffffe5;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
#book-now-btn {
  padding: 2px;
  background-color: #2a6e2f;
  border-radius: 8px;
}
#covid-19 {
  background-color: rgba(255, 255, 255, 0.315);
  color: #222222bb;
  width: 100%;
}
.book-now {
  height: 500px;
  /* margin-top: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-box {
  width: 90vw;
  height: 465px;

  border-radius: 20px;
  background: rgb(18, 17, 19);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.116) 0%,
    rgba(18, 17, 19, 0.5) 20%,
    rgba(18, 17, 19, 0.63) 100%
  );
}
.book-box h1 {
  font-size: 40px;
  color: #fff;
  padding-top: 100px;
}
.book-box p {
  font-size: 16px;
  font-weight: 300;
  color: #99eb9f83;
  padding-top: 15px;
  padding-bottom: 20px;
}

.fa-envelope,
.fa-facebook-messenger {
  color: #ffffff;
  background-color: #2a6e2f;
  border-radius: 40px;
  padding: 6px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 45px;

  text-align: center;
  text-decoration: none;
}
.fa-whatsapp {
  color: #ffffff;
  background-color: #2a6e2f;
  border-radius: 40px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 45px;

  text-align: center;
  text-decoration: none;
}
.mobile {
  color: #ffffff;
  background-color: #2a6e2f;
  border-radius: 30px;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  padding-bottom: 3px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
#wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(./pexels-sedrick-green-2384967.jpg);
  /* background-image: url(./pexels-karol-d-582486.jpg); */
  /* background-color: D6FFE9; */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#about {
  color: #cccccc;
}
#about p {
  font-size: 16px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 150%;
}
h2 {
  font-size: 32px;
}
.photo {
  background-image: url(./bike.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 375px;
}
#services {
  color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.services-img {
  width: 100vw;
  height: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#img-1 {
  background-image: url(./img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#img-2 {
  background-image: url(./img2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#img-3 {
  background-image: url(./img3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#img-4 {
  background-image: url(./img4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services-img-header {
  background-color: rgba(0, 0, 0, 0.514);
  width: 267px;
}
#services ul {
  display: flex;
  flex-direction: column;
  height: 300px;

  align-items: center;
  justify-content: space-around;
}
#services ul li {
  font-size: 20px;
  margin: 10px;
  list-style: none;
}
.services-list {
  width: 100%;
  height: 300px;
  border-bottom: 2px dotted black;
}

#gallery {
  color: #cccccc;
}
#gallery p {
  margin-bottom: 10px;
}
.slider {
  width: 100vw;
  height: 500px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}
.slide {
  width: 100vw;
  flex-shrink: 0;
  height: 100%;
}
#slide-1 {
  background-color: red;
  background-image: url(./before-after1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-2 {
  background-color: blue;
  background-image: url(./before1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-3 {
  background-color: yellow;
  background-image: url(./after1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-4 {
  background-color: black;
  background-image: url(./before1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-5 {
  background-color: pink;
  background-image: url(./after1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-6 {
  background-color: red;
  background-image: url(./before1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-7 {
  background-color: blue;
  background-image: url(./after1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-8 {
  background-color: yellow;
  background-image: url(./before1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-9 {
  background-color: black;
  background-image: url(./after1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-10 {
  background-color: pink;
  background-image: url(./before1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slide {
  /* CURRENT way. */
  scroll-snap-align: start;
}

#book-now2 {
  /* background-image: url(./pexels-lukas-296230.jpg); */
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.678)),
    url(./pexels-sedrick-green-2384967.jpg);
  background-size: cover;
  background-position: center;
}
/* #book-box2 {
  margin: 10px auto 0 auto;
  width: 357px;
  height: 465px;
  border-radius: 20px;
  background: rgb(18, 17, 19);
  background: linear-gradient(
    0deg,
    rgba(18, 17, 19, 0.589) 0%,
    rgba(18, 17, 19, 0.979) 100%
  );
}
#book-box2 h1 {
  font-size: 21px;
  padding-top: 75px;
  padding-bottom: 20px;
}
#book-box2 h2 {
  font-size: 30px;
  padding-bottom: 80px;
} */

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}
figure {
  display: block;
  margin: 10px;
}
figure img {
  width: 120px;
}
blockquote {
  background-color: #121113f5;
  width: 250px;
  font-style: italic;
}
figcaption {
  background-color: #121113f5;
  width: 250px;
  position: relative;
  padding-top: 10px;
  font-size: 18px;
  color: aqua;
  font-weight: bold;
}
footer {
  width: 100vw;
  height: 100px;
  background-color: #121113;
}
.h2-header {
  color: #cccccc;
  padding: 10px 0 10px 0;
}

#book-box2 {
  height: 240px;
}
#book-box2 p {
  margin-top: 10px;
  font-size: 24px;
}

#testimonials {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  max-width: 18ch;
}
