* {
  margin: 0px;
  padding: 0px;
}
html {
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
}

header {
  height: 150px;
  padding-top: 6px;
  background-color: rgba(0, 0, 0, 0.534);
  margin-bottom: 0px;
}
#circle-logo {
  margin-left: auto;
  margin-right: auto;

  width: 125px;
  height: 125px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3561799719887955) 20%,
    rgba(0, 0, 0, 1) 89%
  );
  border-radius: 50%;
}
#circle-logo img {
  width: 125px;
}

/* MENU MENU MENU */
nav {
  position: relative;
  bottom: -0px;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.288);
  position: relative;
  bottom: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  background-color: rgba(0, 0, 0, 0.849);
  position: relative;
  top: -2px;
  padding: 5px;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

/* Style the hamburger menu */
/* .topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
} */

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgba(255, 0, 0, 0);
  color: white;
}

/* END OF MENU MENU */

.book-now {
  height: 525px;
  margin-top: 30px;
}
#book-box {
  margin: auto;
  width: 357px;
  height: 465px;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.88) 100%
  );
}
#book-box h1 {
  font-size: 21px;
  padding-top: 75px;
  padding-bottom: 20px;
}
#book-box h2 {
  font-size: 30px;
  padding-bottom: 80px;
}
.fa-at,
.fa-facebook-messenger {
  color: white;
  background-color: green;
  border-radius: 40px;
  padding: 6px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 45px;

  text-align: center;
  text-decoration: none;
}
.fa-whatsapp {
  color: white;
  background-color: green;
  border-radius: 40px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 45px;

  text-align: center;
  text-decoration: none;
}
.mobile {
  color: white;
  background-color: green;
  border-radius: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 200px;
  padding-bottom: 3px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
#wrapper {
  background-image: url(bike.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
